<!-- Changeable Title -->
<title>Pawn Broker - {{.title}}</title>

<!-- Bower WebComponents -->
<script src="bower_components/webcomponentsjs/webcomponents.min.js" async></script>

<!-- Roboto Font -->
<link href="bower_components/font-roboto/roboto.html">

<!-- Logout Script -->
<script src="js/logout.js" async></script>

<!-- Basic Layout -->
<link href="css/layout.css" rel="stylesheet" type="text/css">