body {
      display: flex;
      margin: 0px;
      flex-direction: column;
}

.main-menu {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      flex: 1;
}

.container {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 3em;
      margin-left: 3em;
}

.container #paper-tabs {
      width: 100%;
}

.container #iron-pages {
      width: 100%;
}

#greetings {
      flex: 95%;
      margin-left: 3em;
}

#logout_icon {
      justify-content: center;
      flex: 5%;
      margin-right: 3em;
}

#pawn_page {
      width: 100%;
}

#paper_list_box {
      width: inherit;
}

#paper_item_header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      padding-top: 1em;
      padding-bottom: 1em;
}
#paper_item_header>div{
      flex-basis: auto;
      margin-right: 20px;
}

#paper_item_header>div:nth-child(3),
#paper_item_header>div:nth-child(4),
#paper_item_header>div:nth-child(5){
      margin-left: 25px;
      margin-right: 25px;
      flex: 2;
}

#paper_item_list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      margin-top: 10px;
}
#paper_item_list>div{
      flex-basis: auto;
      margin-right: 20px;
}
#paper_item_list>div:nth-child(3),
#paper_item_list>div:nth-child(4),
#paper_item_list>div:nth-child(5){
      margin-left: 25px;
      margin-right: 25px;
      flex: 2;
}
