body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.main-menu {
    display: inline-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
}

#go_back {
    flex: 10%;
    -webkit-flex: 10%;
    -ms-flex: 10%;

    margin-left: 2em;
}

#greetings {
    flex: 80%;
    -webkit-flex: 80%;
    -ms-flex: 80%;

    margin-left: 1em;
    margin-right: 1em;
}

#logout_icon {
    flex: 10%;
    -webkit-flex: 10%;
    -ms-flex: 10%;
}

.container {
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 2em;
}


/* Client Form */
#client_form {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

#client_form>div{
    margin-bottom: 15px;

    display: inline-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
}

#client_form>div>span{
    margin-right: 1.5em;
}


/* First Row Spans */
#first_name {
    flex: 40%;
    -ms-flex: 40%;
    -webkit-flex: 40%;
}

#middle_i{
    flex: 20%;
    -ms-flex: 20%;
    -webkit-flex: 20%;
}

#last_name {
    flex: 40%;
    -ms-flex: 40%;
    -webkit-flex: 40%;
}

/* Second Form Spans */
#address {
    flex: 40%;
    -webkit-flex: 40%;
    -ms-flex: 40%;
}

#city {
    flex: 20%;
    -webkit-flex: 20%;
    -ms-flex: 20%;
}

#state {
    flex: 20%;
    -webkit-flex: 20%;
    -ms-flex: 20%;
}

#zip_code {
    flex: 20%;
    -webkit-flex: 20%;
    -ms-flex: 20%;
}

/* Third Row Spans */
#social_num {
    display: inline-flex;
    flex-direction: column;

    width: 20em;
    padding-right: 5em;

    margin-top: -15px;
}
#social_num_info {
    display: inline-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
}

#social_num_info>p{
    width: auto;
    margin-right: 2px;
    margin-left: 2px;
    line-height: 3;
    padding-left: 0.5em;
}

#social_num_info>paper-input:nth-child(1){
    flex: 15%;
}
#social_num_info>paper-input:nth-child(3){
    flex: 10%;
}
#social_num_info>paper-input:nth-child(5){
    flex: 75%;
    padding-right: 2em;
}

#date_of_birth {
    display: inline-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    width: 20em;

    margin-top: 15px;
}

#date_of_birth>label{
    margin-top: 1.5em;
}

/* Fourth Row Spans */
#dri_li {
    flex: 55%;
    padding-right: 18em;
}

#dri_li_exp_date {
    margin-top: 15px;

    display: inline-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex: 45%;
}

#dri_li_exp_date>label{
    margin-top: 1.5em;
}

/*Fifth Row Spans */
#fifth_row {
    margin-top: 15px;
}

/*Sixth Row Spans */
#sixth_row{
    margin-top: 15px;
    align-items: center;
    margin-left: auto;
}